@import 'bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue-Regular.woff") format("woff");
    src: url("../fonts/BebasNeue-Regular.woff2") format("woff2");
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-image: linear-gradient(150deg, #B5121B, #170102);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.header__logo {
    max-width: 115px;
}

.header__imager {
    object-fit: contain;
}

.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    padding: 20px;
    width: 50vw;
    transition: all 500ms;
    transform: translateX(-100%);
    z-index: 1;
}

.header__menu.active {
    transform: translateX(0);
}

.header__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__item:not(:last-child) {
    margin-bottom: 20px;
}

.header__item a {
    font-family: 'BebasNeue', sans-serif;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: all 500ms ease-out;
}

.header__item:hover a,
.header__item.active a {
    color: #FED100;
    border-bottom: 1px solid #FED100;
}

.header__hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    padding: 0;
    width: 40px;
    height: 30px;
    outline: none;
}

.header__hamburguer span {
    display: block;
    width: 40px;
    height: 5px;
    background-color: white;
    transition: all 400ms;
}

.header__hamburguer.active span:first-child {
    transform: rotate(45deg) translateY(9px) translateX(9px);
}

.header__hamburguer.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(100%);
}

.header__hamburguer.active span:last-child {
    transform: rotate(-45deg) translateY(-9px) translateX(9px);
}

.content__films-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.content__film {
    position: relative;
    width: 45%;
    margin-bottom: 40px;
}

.content__films h1 {
    color: white;
}

.content__film h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: white;
    text-align: center;
    margin: 5px 0;
}

.content__film ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    ;
}

.content__film ul li {
    font-family: 'BebasNeue', sans-serif;
    font-size: 18px;
    color: #5F090E;
    border-radius: 3px;
    padding: 2px 11px;
    background-color: white;
}

.content__film ul li:not(:last-child) {
    margin-right: 5px;
}

.film__box {
    position: relative;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 20px auto;
}

.film__box img {
    border-radius: 5px;
    height: 350px;
}

.film__detail {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 500ms;
    opacity: 0;
}

.film__detail a {
    display: inline-block;
    text-decoration: none;
    font-family: 'BebasNeue', sans-serif;
    font-size: 20px;
    color: #5F090E;
    border-radius: 3px;
    padding: 2px 11px;
    background-color: white;
}

.content__film:hover .film__detail,
.content__film:focus .film__detail {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .header__menu {
        display: flex;
        position: relative;
        height: auto;
        width: auto;
        background: transparent;
        padding: 0;
        width: calc(100% - 115px);
        transform: translateY(0);
    }

    .header__list {
        flex-direction: row;
        justify-content: space-around;
    }

    .header__hamburguer {
        display: none;
    }

    .content__film {
        width: 30%;
    }
}

@media screen and (min-width: 992px) {
    .content__film {
        width: 15%;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.loading {
    font-size: 35px;
    color: white;
}

.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 white;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}